[submodule "postgres-docker-compose"]
	path = postgres-docker-compose
	url = https://github.com/mdiazn80/postgres-docker-compose.git
[submodule "onboarding"]
	path = onboarding
	url = https://github.com/mdiazn80/onboarding.git
